<div class="contextual">
<%= link_to_if_authorized l(:label_customer_view), {:controller => 'customers', :action => 'index', :id => @project}, :class => 'icon icon-user' %>
<%= link_to_if_authorized l(:label_customer_assign), {:controller => 'customers', :action => 'edit', :id => @project.id}, :class => 'icon icon-move' %>
<%= link_to_if_authorized l(:label_customer_list), {:controller => 'customers', :action => 'list', :id => @project.id}, :class => 'icon icon-users' %>
<%= link_to_if_authorized l(:label_customer_new), {:controller => 'customers', :action => 'edit_info', :id => @project.id}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_customer_assign_to_project) %></h2>

<% form_for :customer, :url =>{:action => 'edit', :id => @project} do |f|  %>

<p>
  <label for="customer"><%= l(:label_customer) %></label><br />
  <%= collection_select(:customer, :id, Customer.find(:all), :id, :pretty_name) -%>
</p>

<%= submit_tag l(:button_save) -%>

<% end # form -%>
