<div class="contextual">
<%= link_to_if_authorized l(:label_customer_view), {:controller => 'customers', :action => 'index', :id => @project}, :class => 'icon icon-user' %>
<%= link_to_if_authorized l(:label_customer_assign), {:controller => 'customers', :action => 'edit', :id => @project.id}, :class => 'icon icon-move' %>
<%= link_to_if_authorized l(:label_customer_list), {:controller => 'customers', :action => 'list', :id => @project.id}, :class => 'icon icon-users' %>
<%= link_to_if_authorized l(:label_customer_new), {:controller => 'customers', :action => 'edit_info', :id => @project.id}, :class => 'icon icon-add' %>
</div>

<h3><%= l(:label_customer_edit_information) %></h3>

<% form_for :customer, :url =>{:action => 'edit_info', :id => @project} do |f|  %>

<%= f.hidden_field 'id' -%>

<p>
  <label for="customer_name"><%= l(:field_customer_name) %></label><br />
  <%= f.text_field 'name' -%>
</p>
<p>
  <label for="customer_company"><%= l(:field_customer_company) %></label><br />
  <%= f.text_field 'company' -%>
</p>
<p>
  <label for="customer_address"><%= l(:field_customer_address) %></label><br />
  <%= f.text_area 'address' -%>
</p>
<p>
  <label for="customer_phone"><%= l(:field_customer_phone) %></label><br />
  <%= f.text_field 'phone' -%>
</p>
<p>
  <label for="customer_email"><%= l(:field_customer_email) %></label><br />
  <%= f.text_field 'email' -%>
</p>
<p>
  <label for="customer_website"><%= l(:field_customer_website) %></label><br />
  <%= f.text_field 'website' -%>
</p>

             
<%= submit_tag l(:button_save) -%>

<% end # form -%>
