<h3>Editing Customer Information</h3>

<% form_for :customer, :url =>{:action => 'edit_info', :id => @project} do |f|  %>

<%= f.hidden_field 'id' -%>

<p>
  <label for="customer_name">Name</label><br />
  <%= f.text_field 'name' -%>
</p>
<p>
  <label for="customer_company">Company</label><br />
  <%= f.text_field 'company' -%>
</p>
<p>
  <label for="customer_address">Address</label><br />
  <%= f.text_area 'address' -%>
</p>
<p>
  <label for="customer_phone">Phone</label><br />
  <%= f.text_field 'phone' -%>
</p>
<p>
  <label for="customer_email">Email</label><br />
  <%= f.text_field 'email' -%>
</p>
<p>
  <label for="customer_website">Website</label><br />
  <%= f.text_field 'website' -%>
</p>

             
<%= submit_tag "Save" -%>

<% end # form -%>


<%= render(:partial => 'menu') %>
