<div class="contextual">
  <%= link_to_if_authorized l(:label_customer_view), {:controller => 'customers', :action => 'index', :id => @project}, :class => 'icon icon-user' %>
  <%= link_to_if_authorized l(:label_customer_assign), {:controller => 'customers', :action => 'edit', :id => @project.id}, :class => 'icon icon-move' %>
  <%= link_to_if_authorized l(:label_customer_list), {:controller => 'customers', :action => 'list', :id => @project.id}, :class => 'icon icon-users' %>
  <%= link_to_if_authorized l(:label_customer_new), {:controller => 'customers', :action => 'edit_info', :id => @project.id}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_customer_information) %></h2>

<% if @customer -%>
  <div class="box">
    <p> <%= l(:field_customer_name) %>: <%= h @customer.name %> </p>
    <p> <%= l(:field_customer_company) %>: <%= h @customer.company %> </p>
    <p> <%= l(:field_customer_address) %>: <%= h @customer.address %> </p>
    <p> <%= l(:field_customer_phone) %>: <%= h @customer.phone %> </p>
    <p> <%= l(:field_customer_email) %>: <%= h @customer.email %> </p>
    <p> <%= l(:field_customer_website) %>: <%= h @customer.website %> </p>
  </div>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>
