<h1>Customer</h1>

<p> Name: <%= h @customer.name %> </p>
<p> Company: <%= h @customer.company %> </p>
<p> Address: <%= h @customer.address %> </p>
<p> Phone: <%= h @customer.phone %> </p>
<p> Website: <%= h @customer.website %> </p>

<p><%= link_to "Edit", :controller => 'customers', :action => 'edit', :id => @project -%></p>
