<div class="contextual">
  <%= link_to_if_authorized l(:label_customer_view), {:controller => 'customers', :action => 'show', :id => @project}, :class => 'icon icon-user' %>
  <%= link_to_if_authorized l(:label_customer_assign), {:controller => 'customers', :action => 'select', :id => @project}, :class => 'icon icon-move' %>
  <%= link_to_if_authorized l(:label_customer_list), {:controller => 'customers', :action => 'list', :id => @project}, :class => 'icon icon-users' %>
  <%= link_to_if_authorized l(:label_customer_new), {:controller => 'customers', :action => 'new', :id => @project}, :class => 'icon icon-add' %>
</div>

<h2><%= l(:label_customer_plural) %></h2>

<% unless @customers.empty? %>
  <table class="list">
    <% @customers.each do |customer| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= customer.pretty_name %></td>
        <td align="right">
          <small>
              <%= link_to_if_authorized l(:button_edit), {:controller => 'customers', :action => 'edit', :id => @project, :customer_id => customer.id}, :class => 'icon icon-edit' %>
              <%= link_to_if_authorized l(:button_delete), {:controller => 'customers', :action => 'destroy', :id => @project, :customer_id => customer.id}, :confirm => l(:text_are_you_sure), :method => :post, :class => 'icon icon-del' %>
          </small>
        </td>
      </tr>
    <% end %>
  </table>
<% else %>
  <p class="nodata"><%=l(:label_no_data)%></p>
<% end %>

<% content_for(:header_tags) do %>
  <style type="text/css">
    .icon-users { background-image: url(../../images/users.png); }
  </style>
<% end %>

